.title {
    & {
        width: 100%;
        height: 200px;
        background-color: #ccc;
        position: relative;
        z-index: -1;
    }

    & > .background {
        & {
            position: absolute;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 10;
        }
    }

    & > .bg {
        & {
            position: absolute;
            width: 100%; height:100%;
            background-image: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }
}

.board{
    & > .contents {
        & {
            width: 100%;
            max-width: $wrap;
            height: auto;
            margin: -100px auto;
            text-align: center;
            @include transition(.2s all);
        }
    
        &::after {
            content: " ";
            display: block;
            clear: both;
        }
    
        & > .board {
            & {
                width: 900px;
                height: auto;
                display: inline-block;
                margin: 0 auto;
                vertical-align: top;
                padding: 80px 30px 10px 30px;
                text-align: left;
                @include transition(.2s all);
            }
        }
    
        & > .nav {
            & {
                width: 300px;
                height: auto;
                display: inline-block;
                margin-top: 80px;
                vertical-align: top;
                text-align: left;
                @include transition(.2s all);
            }
        }
    
        &.hidden {
            & > .board {
                & {
                    width: 100%;
                    @include transition(.2s all);
                }
            }
    
            & > .nav {
                & {
                    width: 0px;
                    @include transition(.2s all);
                }
            }
        }
    
    }

    &.mobile {
        & > .contents {
            & {
                max-width: 500px;
                margin: 0 auto;
            }

            & > .board {
                & {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

}

/*
@media (max-width: #{$media-tablet-max}) {
    .contents {
        & > .nav {
            width: 0%;
            @include transition(.2s all);
        }
    }
}
*/
